header {
	margin-bottom: 46px;
	margin-top: 27px;
	position: relative;
	.interrogations, .setting, .user {
		color: #cbcbcb;
		position: relative;
		span {
			margin-right: 10px;
			vertical-align: bottom;
		}		
	}
	.interrogations {
		position: absolute;
		right: 230px;
		top: 9px;
		.alert {
			left: 9px;		
			top: -13px;
		}
	}
	.setting {
		position: absolute;
		right: 150px;
		top: 9px;
		.alert {
			left: 14px;
			top: -13px;
		}
	}
	.user {
		position: absolute;
		right: 0;
		top: 9px;
	}	
}