header {
	margin-bottom: 46px;
	margin-top: 27px;
	position: relative;
	.interrogations, .setting, .user {
		color: #cbcbcb;
		position: relative;
		span {
			margin-right: 10px;
			vertical-align: bottom;
		}		
	}
	.interrogations {
		position: absolute;
		right: 230px;
		top: 9px;
	}
	.setting {
		position: absolute;
		right: 150px;
		top: 9px;
		.alert {
			left: 14px;
		}
	}
	.user {
		position: absolute;
		right: 0;
		top: 9px;
	}
	.alert {
		background: #e41d38;
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		left: 9px;
		padding: 2px 3px;
		position: absolute;
		top: -13px;
	}
}