html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
em,
dfn,
var,
code,
samp,
del,
ins,
cite,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: none transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
}
* {
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
input,
button,
textarea,
select,
td {
  font-size: 1em;
  font-family: lato-regular;
  text-rendering: optimizeLegibility;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  position: relative;
}
input[type=submit],
input[type=button],
input[type=reset],
button,
a {
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
legend {
  border: 0;
  padding: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline-style: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  background-image: none;
}
table {
  border-spacing: 0;
}
@font-face {
  font-family: 'lato-regular';
  src: url('fonts/Lato-Regular.eot');
  src: url('fonts/Lato-Regular.eot?iefix') format('embedded-opentype'), url('fonts/Lato-Regular.woff') format('woff'), url('fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-black';
  src: url('fonts/Lato-Black.eot');
  src: url('fonts/Lato-Black.eot?iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-italic';
  src: url('fonts/Lato-Italic.eot');
  src: url('fonts/Lato-Italic.eot?iefix') format('embedded-opentype'), url('fonts/Lato-Italic.woff') format('woff'), url('fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sprites_icon {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.icon_add-user {
  background-position: 0 center;
  height: 28px;
  width: 28px;
}
.icon_search {
  background-position: -28px -8px;
  height: 20px;
  width: 21px;
}
.icon_interrogations {
  background-position: -49px -3px;
  height: 25px;
  width: 19px;
}
.icon_setting {
  background-position: -68px -3px;
  height: 25px;
  width: 24px;
}
.icon_user {
  background-position: -92px -4px;
  height: 24px;
  width: 26px;
}
.icon_date_range {
  background-position: -118px -6px;
  height: 22px;
  width: 20px;
}
.icon_status_delete {
  background-position: -138px -6px;
  height: 22px;
  width: 18px;
}
header {
  margin-bottom: 46px;
  margin-top: 27px;
  position: relative;
}
header .links {
  color: #cbcbcb;
  position: absolute;
  right: 0;
  top: 9px;
}
header .links div {
  float: left;
  margin-left: 40px;
}
header .links div span {
  vertical-align: bottom;
}
header .links div span.sprites_icon {
  margin-right: 5px;
}
header .links div span.username {
  font-weight: bold;
  margin-right: 3px;
}
header .links .interrogations .alert {
  left: 9px;
  top: -13px;
}
header .links .setting .alert {
  left: 14px;
  top: -13px;
}
header .interrogations,
header .setting,
header .user {
  position: relative;
}
body {
  background-color: #ffffff;
  margin: 0 60px;
}
body .alert {
  background: #e41d38;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 3px;
  position: absolute;
}
body .exclamation {
  position: relative;
  /* So we can position the content as absolute */
  /* Using the borders to create a triangle */
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 1.732em solid #ff1d25;
  top: -16px;
  /* Correction because of the CSS Triangle trick*/
}
body .exclamation:before {
  position: absolute;
  content: " ";
  /* Using the borders to create a triangle */
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: 1.4722em solid #ff1d25;
  top: 1.275em;
  left: -0.8em;
}
body .exclamation:after {
  content: "!";
  position: absolute;
  /* Position the character over the triangle
		* These values depend very much on the font used.
		*/
  top: 5px;
  /* top of the yellow triangle */
  left: -5px;
  font-size: 1.4722em;
  color: #ffffff;
  height: 0.99em;
  width: 1.077em;
}
body #content {
  position: relative;
  height: 100%;
}
body #content .dropdown-arrow {
  border-bottom: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #cbcbcb;
  position: absolute;
}
body #content h1 {
  color: #58595b;
  float: left;
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}
body #content h1 .dropdown-arrow {
  margin-left: 20px;
  top: 18px;
}
body #content h1.mri {
  position: absolute;
  right: 0;
  top: 0;
}
body #content h3 {
  color: #58595b;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 2.8;
  margin-left: 15px;
}
body #content .upload-status {
  border-bottom: 1px solid #e0dede;
  border-top: 1px solid #e0dede;
  margin-bottom: 35px;
  padding: 12px;
  position: relative;
  width: 48%;
}
body #content .upload-status span {
  color: #58595b;
}
body #content .upload-status span.upload-title,
body #content .upload-status span.status-title {
  font-family: lato-black;
  font-size: 1;
}
body #content .upload-status .dropdown-arrow {
  right: 20px;
  top: 28px;
}
body #content .button-links {
  position: absolute;
  right: 0;
  top: 58px;
}
body #content .button-links.add-user {
  top: 0;
}
body #content .button-links.add-user button {
  background: #0092a2;
  border: 1px solid #8cc2c8;
  color: #ffffff;
  padding: 30px 90px;
}
body #content .button-links button {
  background: #f8f8f8;
  border: 1px solid #e0dede;
  color: #0092a2;
  font-family: lato-regular;
  font-size: 1;
  font-size: 1rem;
  font-weight: bold;
  padding: 21px 70px 22px;
  text-transform: uppercase;
}
body #content .button-links button span {
  margin-right: 12px;
}
body #content ul.tabs {
  clear: both;
  float: none !important;
}
body #content ul.tabs li {
  background: #f5f5f5;
  border: 1px solid #cbcbcb;
  color: #0092a2;
  float: left;
  margin-left: 0.3%;
  padding: 13px 40px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}
body #content ul.tabs li:first-child {
  margin-left: 0;
}
body #content ul.tabs li.active {
  border-bottom: none;
  padding-top: 25px;
  top: 1px;
}
body #content ul.tabs li.active.single {
  top: 0;
}
body #content ul.tabs.concept-b li {
  border: 1px solid #dfdedc;
  color: #ffffff;
  padding: 25px 0;
  text-align: center;
  width: 19.5%;
}
body #content ul.tabs.concept-b li.active {
  border-bottom: 0;
  padding-top: 37px;
  top: -12px;
}
body #content ul.tabs.concept-b li.active.battery,
body #content ul.tabs.concept-b li.active.lead,
body #content ul.tabs.concept-b li.active.device {
  background: #ffffff;
  color: #0092a2;
}
body #content ul.tabs.concept-b li.battery,
body #content ul.tabs.concept-b li.lead,
body #content ul.tabs.concept-b li.device {
  background: #3cb6a7;
}
body #content ul.tabs.concept-b li.event,
body #content ul.tabs.concept-b li.magent {
  background: #e21a37;
}
body #content ul.tabs.concept-b li .alert {
  margin-left: 5px;
}
body #content .search {
  border-bottom: 0;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;
  clear: both;
  height: 70px;
  position: relative;
}
body #content .search.show {
  height: 95px;
}
body #content .search.show .advanced-search {
  display: block;
}
body #content .search .advanced-search {
  display: none;
}
body #content .search form {
  width: 100%;
}
body #content .search form .searchbox {
  left: 10px;
  position: absolute;
  right: 130px;
  top: 10px;
}
body #content .search form .searchbox input {
  background: #f5f5f5;
  border: 1px solid #e8e7e7;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: borderder-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #cbcbcb;
  font-family: 'Lato', sans-serif;
  padding: 10px 35px 10px 10px;
  width: 100%;
}
body #content .search form .searchbox input:active,
body #content .search form .searchbox input:focus {
  background: #e8f6f7;
  border-color: #b3dee3;
  color: #000000;
}
body #content .search form .searchbox span {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 11px;
}
body #content .search form .advanced-search {
  border-top: 1px solid #cbcbcb;
  margin-right: 130px;
  margin-top: 61px;
  padding: 16px 0 16px 11px;
}
body #content .search form .advanced-search .search-lastname,
body #content .search form .advanced-search .search-firstname,
body #content .search form .advanced-search .search-email,
body #content .search form .advanced-search .search-role,
body #content .search form .advanced-search .search-date-added,
body #content .search form .advanced-search .search-user-status {
  float: left;
  margin-left: 2%;
  position: relative;
  width: 23.5%;
}
body #content .search form .advanced-search .search-lastname span,
body #content .search form .advanced-search .search-firstname span,
body #content .search form .advanced-search .search-email span,
body #content .search form .advanced-search .search-role span,
body #content .search form .advanced-search .search-date-added span,
body #content .search form .advanced-search .search-user-status span {
  color: #6c6c6c;
  display: block;
  margin-left: 3px;
}
body #content .search form .advanced-search .search-lastname input,
body #content .search form .advanced-search .search-firstname input,
body #content .search form .advanced-search .search-email input,
body #content .search form .advanced-search .search-role input,
body #content .search form .advanced-search .search-date-added input,
body #content .search form .advanced-search .search-user-status input {
  background: #f5f5f5;
  border: 1px solid #e0dede;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: borderder-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #cbcbcb;
  font-family: 'Lato', sans-serif;
  margin-top: 7px;
  padding: 10px 44px 10px 10px;
  width: 100%;
}
body #content .search form .advanced-search .search-lastname input:active,
body #content .search form .advanced-search .search-firstname input:active,
body #content .search form .advanced-search .search-email input:active,
body #content .search form .advanced-search .search-role input:active,
body #content .search form .advanced-search .search-date-added input:active,
body #content .search form .advanced-search .search-user-status input:active,
body #content .search form .advanced-search .search-lastname input:focus,
body #content .search form .advanced-search .search-firstname input:focus,
body #content .search form .advanced-search .search-email input:focus,
body #content .search form .advanced-search .search-role input:focus,
body #content .search form .advanced-search .search-date-added input:focus,
body #content .search form .advanced-search .search-user-status input:focus {
  background: #e8f6f7;
  border-color: #cfebee;
  color: #0092a2;
}
body #content .search form .advanced-search .search-lastname,
body #content .search form .advanced-search .search-date-added {
  margin-left: 0;
}
body #content .search form .advanced-search .search-date-added,
body #content .search form .advanced-search .search-user-status {
  margin-top: 20px;
}
body #content .search form .advanced-search .search-date-added .icon_date_range {
  position: absolute;
  right: 8px;
  top: 36px;
}
body #content .search form .advanced-search .search-email .dropdown-arrow,
body #content .search form .advanced-search .search-role .dropdown-arrow,
body #content .search form .advanced-search .search-user-status .dropdown-arrow {
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #cbcbcb;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 47px;
}
body #content .search form .advanced-search .search-email.search-focused input,
body #content .search form .advanced-search .search-role.search-focused input,
body #content .search form .advanced-search .search-user-status.search-focused input {
  background: #e8f6f7;
  border-color: #cfebee;
  color: #0092a2;
}
body #content .search form .advanced-search .search-email.search-focused .dropdown-arrow,
body #content .search form .advanced-search .search-role.search-focused .dropdown-arrow,
body #content .search form .advanced-search .search-user-status.search-focused .dropdown-arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0092a2;
}
body #content .search form a {
  color: #0092a2;
  font-size: 12px;
  position: absolute;
  right: 50px;
  text-transform: uppercase;
  top: 16px;
}
body #content #filelist {
  clear: both;
  padding: 8px 10px 0 10px;
}
body #content #filelist h3 {
  color: #58595b;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 17px;
}
body #content #filelist .document-row {
  border-top: 1px solid #eceaea;
  clear: both;
  float: none !important;
  color: #58595b;
  line-height: 2;
  position: relative;
}
body #content #filelist .document-row div {
  border-right: 1px solid transparent;
  display: inline-block;
  padding-left: 10px;
}
body #content #filelist .document-row div.selected {
  font-weight: bold;
}
body #content #filelist .document-row:last-child {
  border-bottom: 1px solid #eceaea;
}
body #content #filelist .document-row.head {
  background: #f5f5f5;
  border: 1px solid #eceaea;
  color: #009999;
  margin-bottom: 11px;
}
body #content #filelist .document-row.head div {
  border-right: 1px solid #eceaea;
}
body #content #filelist .document-row.head div.row-date {
  border-left: 0;
}
body #content #filelist .document-row.head div.row-active {
  border-right: 0;
}
body #content #filelist .document-row.head div.row-view {
  border: 0;
}
body #content #filelist .document-row.head .row-edit {
  background: #f5f5f5;
  border-bottom: 1px solid #eceaea;
  border-left: 1px solid #eceaea;
  border-right: 0;
  border-top: 1px solid #eceaea;
}
body #content #filelist .document-row.odd {
  background: #f4fafb;
}
body #content #filelist .document-row.even {
  background: #ffffff;
}
body #content #filelist .document-row.unread {
  font-weight: bold;
}
body #content #filelist .document-row.unread .row-view {
  background: #e8f6f7;
  border: 1px solid #b3dee3;
  color: #0092a2;
}
body #content #filelist .document-row.unread.marked {
  background: #ffedee;
  color: #ff1d25;
}
body #content #filelist .document-row.unread.marked .row-view {
  background: #f7dfdf;
  border: 1px solid #ff8e92;
  color: #ff1d25;
  z-index: 2;
}
body #content #filelist .document-row.unread.marked.even {
  background: #ffffff;
}
body #content #filelist .document-row .row-date {
  border-left: 1px solid transparent;
  position: relative;
  width: 12%;
}
body #content #filelist .document-row .row-date .dropdown-arrow {
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0092a2;
  margin-left: 10px;
  position: absolute;
  top: 15px;
}
body #content #filelist .document-row .row-lastname {
  width: 10%;
}
body #content #filelist .document-row .row-firstname {
  width: 10%;
}
body #content #filelist .document-row .row-username {
  width: 10%;
}
body #content #filelist .document-row .row-email {
  width: 10%;
}
body #content #filelist .document-row .row-role {
  width: 10%;
}
body #content #filelist .document-row .row-locations {
  width: 12%;
}
body #content #filelist .document-row .row-edit {
  background: #e8f6f7;
  border: 1px solid #b3dee3;
  bottom: -1px;
  color: #0092a2;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -1px;
  width: 7%;
}
body #content #filelist .document-row .row-status {
  width: 8%;
}
body #content #filelist .document-row .row-upload {
  width: 11%;
}
body #content #filelist .document-row .row-location {
  width: 5%;
}
body #content #filelist .document-row .row-time {
  width: 10%;
}
body #content #filelist .document-row .row-patient-name {
  width: 8%;
}
body #content #filelist .document-row .row-dob {
  width: 5%;
}
body #content #filelist .document-row .row-visit {
  width: 5%;
}
body #content #filelist .document-row .row-device-type {
  width: 8%;
}
body #content #filelist .document-row .row-model {
  width: 5%;
}
body #content #filelist .document-row .row-serial {
  width: 5%;
}
body #content #filelist .document-row .row-mfr {
  width: 8%;
}
body #content #filelist .document-row .row-view {
  background: #f8f8f8;
  border: 1px solid #e0dede;
  color: #0092a2;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: -1px;
  width: 7%;
}
body .details {
  border-top: 1px solid #cbcbcb;
  clear: both;
  padding: 12px 0;
}
body .details .details-status {
  float: left;
  padding: 11px 0;
  vertical-align: top;
  width: 20%;
}
body .details .details-status span {
  color: #58595b;
  display: block;
  text-align: center;
}
body .details .details-status span:first-child {
  font-family: lato-black;
  font-size: 1;
}
body .details .details-list {
  float: left;
  width: 80%;
}
body .details .details-list div {
  border-bottom: 1px solid #eceaea;
  line-height: 2.5;
  padding: 0 15px;
}
body .details .details-list div.even {
  background: #f4f9fc;
}
body .details .details-list div span {
  color: #58595b;
  margin-right: 10px;
}
body .details .details-list div span:first-child {
  font-family: lato-black;
  font-size: 1;
}
body #edit-user {
  -webkit-box-shadow: 5px 7px 11px #505050;
  -khtml-box-shadow: 5px 7px 11px #505050;
  -moz-box-shadow: 5px 7px 11px #505050;
  -o-box-shadow: 5px 7px 11px #505050;
  box-shadow: 5px 7px 11px #505050;
  left: 50%;
  margin-left: -400px;
  margin-top: 50px;
  padding-top: 40px;
  position: absolute;
  width: 800px;
}
body #edit-user h1 {
  color: #797a7c;
  font-size: 36px;
  margin: 0 65px;
}
body #edit-user h3 {
  color: #898989;
  font-style: italic;
  margin: 15px 65px 0 65px;
}
body #edit-user .edit-user-info {
  float: left;
  padding: 30px 65px 70px;
}
body #edit-user .edit-user-info .user-info {
  border-right: 1px solid #e8e6e6;
  float: left;
  padding-right: 70px;
  width: 264px;
}
body #edit-user .edit-user-info .user-info:last-child {
  border-right: 0;
  padding-left: 70px;
  padding-right: 0;
}
body #edit-user .edit-user-info .user-info div {
  margin-bottom: 25px;
}
body #edit-user .edit-user-info .user-info div:last-child {
  margin-bottom: 0;
}
body #edit-user .edit-user-info .user-info span {
  color: #898989;
}
body #edit-user .edit-user-info .user-info input {
  background: #edf8f9;
  border: 1px solid #c2e5e9;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: borderder-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #33a8b5;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}
body #edit-user .edit-user-info .user-info .user-role,
body #edit-user .edit-user-info .user-info .user-status {
  position: relative;
}
body #edit-user .edit-user-info .user-info .user-role input,
body #edit-user .edit-user-info .user-info .user-status input {
  padding-right: 44px;
}
body #edit-user .edit-user-info .user-info .user-role .dropdown-arrow,
body #edit-user .edit-user-info .user-info .user-status .dropdown-arrow {
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #0092a2;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 42px;
}
body #edit-user .edit-user-info .user-info .user-status input {
  width: 210px;
}
body #edit-user .edit-user-info .user-info .user-status .dropdown-arrow {
  right: 75px;
}
body #edit-user .edit-user-info .user-info .user-status button {
  background-color: #f7dfdf;
  border: 1px solid #ff8e92;
  padding: 7px;
  position: absolute;
  right: 0;
  top: 24px;
}
body #edit-user .edit-user-info .user-info .user-username button {
  background: #33a8b5;
  border: 1px solid #d9f0f2;
  color: #ffffff;
  margin-top: 15px;
  padding: 12px 18px;
}
body #edit-user .button {
  clear: both;
  float: none !important;
}
body #edit-user .button .cancel,
body #edit-user .button .save {
  float: left;
  font-size: 24px;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}
body #edit-user .button .cancel {
  border: 1px solid #ededed;
  background: #f9f9f9;
  color: #33a8b5;
}
body #edit-user .button .save {
  background: #33a8b5;
  border: 1px solid #a3ced3;
  color: #ffffff;
}
body #add-user {
  -webkit-box-shadow: 5px 7px 11px #505050;
  -khtml-box-shadow: 5px 7px 11px #505050;
  -moz-box-shadow: 5px 7px 11px #505050;
  -o-box-shadow: 5px 7px 11px #505050;
  box-shadow: 5px 7px 11px #505050;
  left: 50%;
  margin-left: -237px;
  margin-top: 50px;
  padding-top: 40px;
  position: absolute;
  width: 475px;
}
body #add-user h1 {
  color: #797a7c;
  font-size: 36px;
  margin-left: 65px;
}
body #add-user h3 {
  color: #898989;
  font-style: italic;
  margin-left: 65px;
  margin-top: 15px;
}
body #add-user .add-user-info {
  padding: 30px 65px 70px;
}
body #add-user .add-user-info div {
  margin-bottom: 25px;
}
body #add-user .add-user-info div:last-child {
  margin-bottom: 0;
}
body #add-user .add-user-info span {
  color: #898989;
}
body #add-user .add-user-info input {
  background: #f5f5f5;
  border: 1px solid #e0dede;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: borderder-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #cbcbcb;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}
body #add-user .add-user-info input:active,
body #add-user .add-user-info input:focus {
  background: #e8f6f7;
  border-color: #b3dee3;
  color: #0092a2;
}
body #add-user .add-user-info .user-role,
body #add-user .add-user-info .user-status {
  position: relative;
}
body #add-user .add-user-info .user-role input,
body #add-user .add-user-info .user-status input {
  padding-right: 44px;
}
body #add-user .add-user-info .user-role .dropdown-arrow,
body #add-user .add-user-info .user-status .dropdown-arrow {
  border-bottom: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #cbcbcb;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 42px;
}
body #add-user .button .cancel,
body #add-user .button .add {
  float: left;
  font-size: 24px;
  padding: 30px 0;
  text-transform: uppercase;
  width: 50%;
}
body #add-user .button .cancel {
  border: 1px solid #ededed;
  background: #f9f9f9;
  color: #33a8b5;
}
body #add-user .button .add {
  background: #33a8b5;
  border: 1px solid #a3ced3;
  color: #ffffff;
}
footer {
  margin-top: 40px;
}
footer > span {
  color: #cbcbcb;
  font-size: 12px;
  padding-bottom: 50px;
}
footer .loading {
  background: #59b8c3;
  bottom: 0;
  height: 48px;
  left: 50%;
  margin-left: -60px;
  filter: alpha(opacity=80);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  width: 160px;
  z-index: 1000;
}
footer .loading span.dot,
footer .loading span.dot:before,
footer .loading span.dot:after {
  background: #ffffff;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 10px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 10px;
}
footer .loading span.dot {
  margin-left: -5px;
  left: 50%;
}
footer .loading span.dot:before,
footer .loading span.dot:after {
  content: "";
  top: 5px;
}
footer .loading span.dot:before {
  left: -16px;
}
footer .loading span.dot:after {
  left: 16px;
}
